[project]
	description = Init.d template
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ch3lo
[access "refs/for/refs/*"]
	read = group user/ch3lo
	push = group user/ch3lo
	label-Code-Review = -2..+2 group user/ch3lo
	label-Verified = -1..+1 group user/ch3lo
	rebase = group user/ch3lo
	removeReviewer = group user/ch3lo
	submit = group user/ch3lo
[access "refs/heads/*"]
	read = group user/ch3lo
	create = group user/ch3lo
	push = +force group user/ch3lo
	pushMerge = group user/ch3lo
[access "refs/tags/*"]
	push = +force group user/ch3lo
	pushTag = group user/ch3lo
	pushSignedTag = group user/ch3lo
